* {
	margin:0;padding:0;
}
@font-face {
	font-family: mojaCzcionka;
	src: url('../font/hebanusj.ttf');
}
body {
	font-family: mojaCzcionka, Arial, serif;
	font-size:20px;
}
#wrapper {
	margin: 0 auto;
	width: 640px;
	background-color: #eee;
	padding:10px;
	min-height: 750px;
	position: relative;
}
#wrapper nav {
	margin-bottom: 10px;
	background-color: #888;
	height: 40px;
}
#wrapper nav ul {
	list-style-type: none;
}
#wrapper nav ul li {
	float:left;
	text-align: center;
}
#wrapper nav ul li a {
	color: white;
	display: inline-block;
	text-decoration: none;
	line-height: 40px;
	width:160px;
	background-color: #777;
	font-size:18px;
}

#wrapper nav ul li.active a {
	color: yellow;
	background-color: #444;
}
#wrapper nav ul li:hover a {
	color: yellow;
	background-color: #222;
}
#wrapper h3 {
	clear:left;
	margin:20px 0;
}
.tytul {
	background-color: white;
	line-height: 40px;
	padding-left: 10px;
	margin-top:20px;
}
.opis {
	font-size: 20px;
}
img.kostka {
	display:block;
	width:200px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom: 20px;
}
footer {
	background-color: #666;
	text-align: center;
	line-height: 50px;
	position: absolute;
	bottom: 10px;
	margin-top:20px;
	color: white;
}
.ver {
	position: absolute;
	width:80px;
	right:10px;
	top:0;

}







